[submodule "file_handler"]
	path = file_handler
	url = https://github.com/likevintw/file_handler.git 
[submodule "request_handler"]
	path = request_handler
	url = https://github.com/likevintw/request_handler.git 
